/* Start upper-bar */
 body{
    overflow-x: hidden;
} 

.upper-bar {
    background-color: #08526d;
    color: white;
    /* padding: 10px; */
}

.upper-bar .info {
    margin: 15px 0 ;
}

.upper-bar span {
    color: #bfc6c9;
}

.upper-bar .get-quote {
    border: 1px solid #ec1c23;
    padding: 2px 10px;
    margin-left: 20px;
    display: inline-block;
}
/* End upper-bar */

/* Start navbar */
.navbar-brand {
    font-size: 40px;
}

.navbar-brand .Elite {
    color: #08526d;
    font-weight: bold;
}

.navbar-brand .Corp {
    color: #ec1c23;
}

.navbar-nav .nav-link{
    font-size: 16px;
    margin-left: 20px;
    color: #08526d !important;
    font-weight: bold;
}

.navbar-nav .active>.nav-link {
    color: #ec1c23 !important;
}
/* End navbar */

/* Start Slider */
.slider{
    background-color: #DDD;
}

.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: left;
}

.slider .carousel-inner h1{
    position: absolute;
    color: white;
    z-index: 3;
    font-size: 70px;
    max-width: 900px;
    line-height: 1.5;
    left: 100px;
}

.slider .carousel-inner h1 span{
    color: white;
    background-color: #ec1c23;
    display: inline-block;
    padding: 2px 10px;
}

.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .6);
    z-index: 2;
}

.slider .carousel-item{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}

 .slider .carousel-one{
    background-image: url(../images/slide/slide-17.jpg);
}

.slider .carousel-two{
    background-image: url(../images/hero-bg.jpg);
}

.slider .carousel-three{
    background-image: url(../images/testimonials-bg.jpg);
} 

.slider .carousel-indicators li {
    height: 8px;
    cursor: pointer;
}
/* End Slider */

/*   Start Features */

.features{
    padding: 50px 0;
}

.features i {
    background-color: #ec1c23;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
}

.features h3 {
    color: #08526d;
    font-size: 22px;
}

.features p {
    color: #989898;
    margin-bottom: 40px;
}

/* End Features  */

/* Start Overview */

.overview{
    padding: 100px 0;
    background-color: #eff3f7;
}

.overview .h1{
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.overview p{
    color: #989898;
    line-height:2;
    font-size: 20px;
    margin: auto;
    width: 80%;
    margin-bottom: 15px;
}

.overview h4{
    color: #989898; 
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 40px;
}

.overview button {
    background-color: #ec1c23;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ec1c23;
}

/* End Overview */

/* Start Feautred work */

.feautred-work{
    padding: 100px 0;
}

.feautred-work .h1{
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.feautred-work p{
    color: #989898;
    line-height:1.6;
    font-size: 20px;
    margin: auto;
    width: 80%;
    margin-bottom: 15px;
}

.feautred-work ul {
    margin-top: 20px;
    margin-bottom: 50px;
}

.feautred-work ul li {
color: #08526d;
border: 2px solid #08526d;
padding: 10px 20px;
margin-left: 10px;
margin-bottom: 10px;
font-size: 20px;
font-weight: bold;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

.feautred-work ul li.active {
    background-color: #ec1c23;
    color: white;
    border: 2px solid #ec1c23;
    font-size: 20px;
    font-weight: bold;
}

.feautred-work ul li.active:hover {
    cursor: pointer;
}

.feautred-work ul li:hover{
    background-color: #ec1c23;
    color: white;
    border: 2px solid #ec1c23;
    cursor: pointer;
}

.feautred-work .shuffels-images {
    margin-top: 50px;
}

.feautred-work .row .col-md{
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.feautred-work .row img{
    width: 100%;
}

/* End Feautred work */

/* Start Latest Post */

.latest-post .h1{
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.latest-post .section-description{
    color: #989898;
    line-height:1.6;
    font-size: 20px;
    margin: auto;
    width: 80%;
    margin-bottom: 45px;
}

.latest-post .card .card-title {
    color: #08526d;
    font-size: 20px;
    line-height: 1.5;
}

.latest-post .card .card-text {
    color: #989898;
}

.latest-post .card .card-link{
    color: #ec1c23;
    font-weight: bold;
}

.latest-post .card{
    margin-bottom: 20px;
}

/* End Latest Post */

/* Start Testimonial */

.testimonial {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    background-image: url(../images/features.jpg);
    position: relative;
    margin-top: 100px;
}

.testimonial .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .6);
    z-index: 2;
}

.testimonial .container {
    position: relative;
    z-index: 3;
}

.testimonial .carousel-caption {
    top:50%;
    margin-top: -142px;
}

.testimonial .carousel-caption img {
    margin-bottom: 20px;
}

.testimonial .carousel-caption h3 {
    margin-bottom: 5px;
}

.testimonial .carousel-caption span {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 30px;
}

.testimonial .carousel-indicators li {
    height: 8px;
    cursor: pointer;
}

.testimonial .carousel-control-next {
    z-index: 4;
    background-color: #ec1c23;
    color: white;
    height: 50px;
    width: 50px;
    top: 50%;
    margin-right: 20px;
}

.testimonial .carousel-control-prev {
    z-index: 4;
    background-color: black;
    color: white;
    height: 50px;
    width: 50px;
    top: 50%;
    margin-left: 20px;
}

/* End Testimonial */

/* Start Pricing */

.pricing-table {
    padding: 100px 0;
    background-color: #f7f7f7;

}

.pricing-table .card{
    margin-bottom: 20px;
}

.pricing-table .card-body{
   padding: 0;
}

.pricing-table .h1{
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pricing-table .section-description{
    color: #989898;
    line-height:1.6;
    font-size: 20px;
    margin: auto;
    width: 80%;
    margin-bottom: 70px;
}

.pricing-table .card .card-title {
    color: #08526d;
    font-size: 25px;
    line-height: 1.5;
    margin-top: 40px;
}

.pricing-table .card .card-text {
    color: #989898;
    margin: 30px 0;
    background-color: #f7f7f7;
    color: #08526d;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pricing-table .card .card-text span{
    font-weight: bold;
    font-size: 15px;
}

.pricing-table .list-group-item {
    border: none;
}

.pricing-table .card .card-link{
    background-color: #ec1c23;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.pricing-table .card.corporate {
    top:-20px;
    position: relative;
}

.pricing-table .card.corporate .card-text {
    background-color: #ec1c23;
    color: white;
}

.pricing-table .card.corporate .card-link{
    background-color: #08526d;
}

/* End Pricing */

/* Start choose-us */

.choose-us img {
    max-width: 100%;
}

.choose-us .info {
    padding: 0;
}

.choose-us .info:last-child {
    background-color: #08526d;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.choose-us .h1 {
    margin: 40px;
}

.choose-us p {
    margin: 40px;
    line-height: 2;
    font-size: 18px;
}

.choose-us .read-more {
    display: inline-block;
    padding: 8px 20px;
    margin: 0 0 0 40px;
    background-color: #ec1c23;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
}
/* End choose-us */

/* Start Statics */

.statics {
    padding: 100px 0;
}

.statics .statics-box{
    margin-bottom: 40px;
}

.statics i {
    color: #08526d;
}

.statics .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: #08526d;
}

.statics p {
    color: #ec1c23;
    margin-top: -10px;
    margin: 0;
}

/* End Statics */

/* Start contact us */

.contact-us{
    padding: 80px 0;
    background-color: #ec1c23;
    color: white;
    font-size: 25px;
}

.contact-us p {
    font-weight: 100;
    margin: 0;
}

.contact-us a {
    color: white;
    border: 2px solid white;
    padding: 8px 15px;
    font-weight: bold;
}

/* End contact us */

/* Start footer */

.footer {
    padding: 100px 0;
}

.footer .site-info h2 {
    margin-bottom: 35px;
    font-size: 50px;
}

.footer .site-info .Elite {
    color: #08526d;
    font-weight: bold;
}

.footer .site-info .Corp {
    color: #ec1c23;
}

.footer .site-info p {
    color: #989898;
    line-height: 1.6;
}

.footer .site-info a {
    color: #08526d;
    font-size: 15px;
    font-weight: bold;
}

.footer .site-info a:before {
    font-family: 'FontAwesome';
    content: "\f138";
    display: inline-block;
    margin-right: 5px;
}

.footer .helpful-links h2 {
    font-size: 22px;
    color: #08526d;
    margin-bottom: 70px;
}

.footer .helpful-links ul li {
    color: #08526d;
}

.footer .helpful-links ul li:before{
    font-family: 'FontAwesome';
    content: "\f105";
    display: inline-block;
    margin-right: 5px;
    color: black;
}

.footer .contact h2 {
    font-size: 22px;
    color: #08526d;
    margin-bottom: 70px;
}

.footer .contact ul li {
    margin-bottom: 25px;
    color: #989898;
}

/* End footer */

/* Start Copyright */

.copyright {
    border-top: 1px solid #989898;
    padding: 20px;
}

.copyright ul li {
    display: inline-block;
    margin-left: 20px;
}

.copyright ul li a {
    color: #989898;

}

/* End Copyright */
